{% extends "base.html.twig" %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
    <div class="toaster">
        {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% endfor %}
    </div>
    
    <div class="container edit">
        <h5>Modification du profil</h5>

        {{ form_start(form, {'attr': {'class': 'label-none'}}) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
                
            {{ form_row(form.email) }}

            {{ form_row(form.address) }}
            {{ form_row(form.zip_code) }}
            {{ form_row(form.city) }}
            {{ form_row(form.country) }}

            <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i> Enregistrer les modifications</button>

        {{ form_end(form) }}
    </div>

{% endblock %}