{% extends 'base.html.twig' %}

{% block body %}

    <div class="container receipt">
        <h5>Votre réservation (n°{{booking.id}}) pour le WIG :<br>{{booking.place.name}}</h5>
        



        <div class="row">
            <div>
                <div class="alert bg-light">
                    <h5>Détails</h5>
                    <dl class="row">
                        <dt class="col-sm-4">Numéro</dt>
                        <dd class="col-sm-8">{{booking.id}}</dd>
                        <dt class="col-sm-4">Date d'arrivée</dt>
                        <dd class="col-sm-8">{{booking.startAt | date ('d/m/Y')}}</dd>
                        <dt class="col-sm-4">Date de départ</dt>
                        <dd class="col-sm-8">{{booking.endAt | date ('d/m/Y')}}</dd>
                        <dt class="col-sm-4">Nombre de nuits</dt>
                        <dd class="col-sm-8">{{booking.duration}}</dd>
                        <dt class="col-sm-4">Montant total</dt>
                        <dd class="col-sm-8">{{booking.totalPrice}} € TTC</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}