{% extends 'base.html.twig' %}

{% block title %}Contact - Where I Go{% endblock %}

{% block body %}
    
    <div id="contactForm">
        
        {{ form_start(form, {'attr': {'class': 'label-none'}}) }}

            <div class="form-contact container text-center">
                <h2 class="text-left mb-5">Nous contacter</h2>
         
                <div class="col">{{ form_row(form.firstname, {'attr': {'class': 'contact'}}) }}</div>
                <div class="col">{{ form_row(form.lastname, {'attr': {'class': 'contact'}}) }}</div>
                <div class="col">{{ form_row(form.email, {'attr': {'class': 'contact'}}) }}</div>
                <div class="col">{{ form_row(form.message, {'attr': {'class': 'message'}}) }}</div>
        
        {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn-book mt-2">Envoyer</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
