


        {{ form_start(form) }}
        {{ form_row(form.placeHasCategories) }}

        {{ form_row(form.q) }}

        <div class="price-filter">
        {{ form_row(form.min) }}
        {{ form_row(form.max) }}
        </div>
       <div id="price-slider" style="width: 10%;" ></div>
       
        {{ form_row(form.valider) }}
        {{ form_end(form) }}





