{% extends 'base.html.twig' %}

{% block title %}Votre prochain voyage{% endblock %}

{% block body %}
    <div class="container showContainer text-center">
        
        <h1>{{place.name}}</h1>

       
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                {% for i in 1..(place.pictures|length) %}
                    <li data-target="#demo" data-slide-to="{{i}}"></li>
                {% endfor %}

            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
                {% set length = (place.pictures|length) %}
                    <div class="carousel-item active">
                        <img src="{{ asset('build/images/' ~ place.pictures.0.name) }}" alt="...">
                    </div>
                {% for picture in (place.pictures)|slice(1,length) %}
                    <div class="carousel-item">
                        <img src="{{ asset('build/images/' ~ picture.name) }}" alt="...">
                    </div>
                {% endfor %}
                        
                   
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>


        <p>{{place.description}}</p>


        <a href="{{ path('booking_create', {'id': place.id}) }}" class="btn btn-primary mb-2">Réserver</a>


        <div id="map"></div>
        {% set latitude = place.latitude %}
        {% set longitude = place.longitude %}

        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Place
                var idLatitude = {{ latitude }};
                var idLongitude = {{ longitude }};
                var place = {lat: idLatitude, lng: idLongitude};
                // The map, centered at experience ID
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 8, center: place});
                // The marker, positioned at experience ID
                var marker = new google.maps.Marker({position: place, map: map});
            }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvks-_bKH_gbWvVYqzTeUaK1p29FxJnKA&callback=initMap">
        </script>
    </div>
{% endblock %}
