<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Where I Go - Expériences uniques{% endblock %}</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="page">
        <div class="toaster">
            {% for label, messages in app.flashes %}
               {% for message in messages %}
                   <div class="alert alert-{{ label }} alert-dismissible fade show">
                       {{ message }}
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
               {% endfor %}
            {% endfor %}
       </div>
        {# HEADER #}

        <header>
           
            <div class="background-header"></div>

                <div class="row">
                    <nav class="nav-links">
                        {# button menu #}
                        <div>
                            <ul class="menu-middle mt-3">
                                <li><a id="" class="toggle btn btn-light" href="">Menu</a></li>
                            </ul>
                            {# fin button menu #}
                        </div>


                        <div class="logo" class="col-lg-2 col-xl-2">
                            <li> <a class="navbar-brand text-dark mr-0" href="{{ path('homepage') }}">WIG</a></li>
                        </div>
                        {# Toggle menu #}
                        <div class="hideMenu mt-0">
                            <ul class="bloc-middle" class="col-lg-6 col-xl-6">
                                <li><a href="" class="start btn btn-light">Commencer une expérience</a></li>
                                <li><a href="{{ path('list') }}" class="experience btn btn-light">Nos expériences</a></li>
                            </ul>
                            
                            <div class="bloc-end" class="col-lg-4 col-xl-4">
                                <input type="text" placeholder="rechercher une expérience" class="search btn btn-light">
                                {% if app.user is empty %}
                                    <a href="{{ path('user_login') }}" class="connexion btn btn-light">Connexion</a>
                                    <a href="{{ path('user_register') }}" class="inscription btn btn-light">Inscription</a>
                                {% else %}
                                    <a href="{{ path('user_logout') }}" class="deconnexion btn text-light btn-danger">Déconnexion</a>
                                {% endif %}

                            </div>
                        </div>
                        {# fin Toggle menu #}

                    </nav>
                {# end Row #}
                </div>
        </header>

<div class="blur-bg">
        <main>
            {% block body %}{% endblock %}
        </main>

        {# FOOTER #}
        <footer>

            <div class="row">
                <div class="footer-container">

                    <div class="logo-footer col-lg-3">
                        <span>WHERIGO</span>
                    </div>

                    <div class="left-footer-container">


                        <div class="nav-footer col-lg-6 col-6">
                            <ul>
                                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                                <li><a href="">Commencer une expérience</a></li>
                                <li><a href="{{ path('list') }}">Nos expériences</a></li>
                            </ul>
                        </div>

                        <div class="middle-footer col-lg-6 col-6">
                            <ul>
                                <li><a href="">Qui sommes-nous</a></li>
                                <li><a href="">Plan du site</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="end-footer col-lg-3 col-12">
                        <ul class="d-flex">
                            <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                            <li><a href="">Mentions légales</a></li>
                            <li><a href="">CGV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>{# footer #}

    </div>
    </div>{# Page #}



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e427cc501a.js"></script>
   
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('tunnel') }}

    
    {% block javascripts %}{% endblock %}
</body>

</html>