{% extends 'base.html.twig' %}

{% block title %}Inscription - Where I Go{% endblock %}

{% block body %}
    {{ form_start( form, {
        'attr': {
            'class': 'container text-center register',
            'novalidate': 'novalidate',
        }
    } ) }}
    <h2 class="mb-5 text-left">Inscription</h2>
    <div class="alert row text-center">
        <div class="col-12 my-2">
            <!-- Affichage de l'input username -->
                {{ form_row(form.username) }}
                
            <!-- Affichage de l'input email -->
                {{ form_row(form.email) }}

             <!-- Affichage de l'input password -->
                {{ form_row(form.plainPassword.first) }}

             <!-- Affichage de l'input confirm password -->
                {{ form_row(form.plainPassword.second) }}
        
            <!-- Affichage de l'input firstname -->
                {{ form_row(form.firstname) }}

            <!-- Affichage de l'input password -->
                {{ form_row(form.lastname) }}
            <p class="mt-3">Date de naissance</p>
            <!-- Affichage de l'input password -->
                {{ form_row(form.birthday) }}
        </div>
    </div>

    <div class="my-3 text-center">
        <button type="submit" class="btn btn-book btn-lg">S'inscrire</button>
    </div>
    {{ form_end( form ) }}

{% endblock %}
